body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 250px;
    }
    
    .botao-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }
    
    button {
        font-size: 16pt;
        padding: 10px 20px;
        cursor: pointer;
        border: 2px solid #000000;
        border-radius: 5px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #0056b3;
        border-color: #0056b3; /* Altera a cor da borda ao passar o mouse */
    }
    
    #corNome {
        font-size: 10pt;
        margin-top: 10px;
    }
    
    p{
      font-size: 50px ;  
    }